:root {
    --primary-100: #0D6E6E;
    --primary-200: #4a9d9c;
    --primary-300: #afffff;
    --accent-100: #FF3D3D;
    --accent-200: #ffe0c8;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #0D1F2D;
    --bg-200: #1d2e3d;
    --bg-300: #354656;
    /*
    --primary-100:#0D6E6E;
    --primary-200:#4a9d9c;
    --primary-300:#afffff;
    --accent-100:#FF3D3D;
    --accent-200:#ffe0c8;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0D1F2D;
    --bg-200:#1d2e3d;
    --bg-300:#354656; */
}

.dark {
    --primary-100: #FFD700;
    --primary-200: #ddb900;
    --primary-300: #917800;
    --accent-100: #c49216;
    --accent-200: #5e3b00;
    --text-100: #dcdcdc;
    --text-200: #929292;
    --bg-100: #1E1E1E;
    --bg-200: #2d2d2d;
    --bg-300: #454545;

}